@media all {
    div, span, h1, p, a, ul, li, fieldset, form, label {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    ul {
        list-style: none;
    }

    a {
        background-color: transparent;
    }

    a:active, a:hover {
        outline: 0;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    button, input {
        color: inherit;
        font: inherit;
        margin: 0;
    }

    button {
        overflow: visible;
    }

    button {
        text-transform: none;
    }

    button {
        -webkit-appearance: button;
        cursor: pointer;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    input {
        line-height: normal;
    }

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    input, button {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        color: #6f6f6f;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: #9a0097;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    h1 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        margin: 0 0 10px;
    }

    ul {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .row:before, .row:after {
        content: " ";
        display: table;
    }

    .row:after {
        clear: both;
    }

    .col-xs-12, .col-sm-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-xs-12 {
        float: left;
    }

    .col-xs-12 {
        width: 100%;
    }

    @media (min-width: 768px) {
        .col-sm-12 {
            float: left;
        }

        .col-sm-12 {
            width: 100%;
        }
    }
    fieldset {
        padding: 0;
        margin: 0;
        border: 0;
        min-width: 0;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 16px 20px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555555;
        background-color: white;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-control::-moz-placeholder {
        color: #999999;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: #999999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999999;
    }

    .form-control::-ms-expand {
        border: 0;
        background-color: transparent;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 16px 20px;
        font-size: 14px;
        line-height: 1.42857;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn:focus, .btn:active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn:hover, .btn:focus {
        color: #262626;
        text-decoration: none;
    }

    .btn:active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .btn-default {
        color: #262626;
        background-color: white;
        border-color: #d2dae3;
    }

    .btn-default:focus {
        color: #262626;
        background-color: #e6e6e6;
        border-color: #8399b2;
    }

    .btn-default:hover {
        color: #262626;
        background-color: #e6e6e6;
        border-color: #acbbcc;
    }

    .btn-default:active {
        color: #262626;
        background-color: #e6e6e6;
        border-color: #acbbcc;
    }

    .btn-default:active:hover, .btn-default:active:focus {
        color: #262626;
        background-color: #d4d4d4;
        border-color: #8399b2;
    }

    .btn-default:active {
        background-image: none;
    }

    .btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .clearfix:before, .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    @media only screen and (min-width: 767px) {
        #page .columns-container #columns #center_column {
            float: right;
        }
    }
    a {
        display: inline-block;
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

    a:hover, a:focus, a:active {
        outline: none;
        text-decoration: none;
        color: #9a0097;
    }

    .form-control {
        padding: 3px 5px;
        height: 40px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #d2dae3;
        color: #6f6f6f;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .form-control:active, .form-control:focus {
        box-shadow: none;
        border-color: #748ca8;
    }

    label {
        color: #6f6f6f;
        font-weight: normal;
    }

    .page-subheading {
        font: 500 18px/24px 'Cuprum', sans-serif;
        color: #262626;
        margin: 0 0 15px;
    }

    .btn, .btn.btn-default {
        font: 400 16px/23px '', sans-serif;
        font-weight: 400;
        display: flex;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: none;
        white-space: normal;
        padding: 16px 20px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        background: #9a0097;
        color: whitesmoke;
        justify-content: center;
    }

    @media (max-width: 1199px) {
        .btn, .btn.btn-default {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @media (max-width: 991px) {
        .btn, .btn.btn-default {
            font-size: 14px;
            padding: 17px 15px;
        }
    }
    .btn.icon-right span, .btn.btn-default.icon-right span {
        display: block;
        position: relative;
    }

    .btn.icon-right span:after, .btn.btn-default.icon-right span:after {
        font-family: "FontAwesome";
        content: "\f054";
        display: inline-block;
        font-weight: normal;
        position: absolute;
        top: 50%;
        right: 0;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        display: none;
    }

    .btn.icon-left span, .btn.btn-default.icon-left span {
        display: block;
        position: relative;
    }

    .btn.icon-left span:before, .btn.btn-default.icon-left span:before {
        font-family: "FontAwesome";
        content: "\f053";
        display: inline-block;
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 0;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        display: none;
    }

    .btn:hover, .btn:active, .btn:active:focus, .btn:focus, .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:active:focus, .btn.btn-default:focus {
        background: #9a0097;
        border-color: black;
        box-shadow: none;
        outline: none;
        color: whitesmoke;
    }

    .btn.btn-default {
        font-weight: 700;
        letter-spacing: 0.04em;
    }

    .btn:active, .btn:focus {
        outline: none;
    }

    ul.footer_links {
        padding: 20px 0 0 0;
        border-top: 1px solid #d2dae3;
        overflow: hidden;
    }

    ul.footer_links li {
        float: left;
        margin-bottom: 10px;
    }

    .box {
        background: #f1f4f7;
        border: 1px solid #d2dae3;
        padding: 14px 18px 13px;
        margin: 0 0 30px 0;
        font: normal 13px/23px 'Cuprum', sans-serif;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .box p {
        margin-bottom: 0;
    }
}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoKBwnonU.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoIRwnonU.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoKhwnonU.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoKxwnonU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoJRwn.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjbYJwQj.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6Vj_YJwQj.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjTYJwQj.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjXYJwQj.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/cuprum/v19/dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjvYJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("https://acmeclubbing.com/static/fonts/fontawesome-webfont.eot?v=4.5.0");
    src: url("https://acmeclubbing.com/static/fonts/fontawesome-webfont.eot#iefix&v=4.5.0") format("embedded-opentype"), url("https://acmeclubbing.com/static/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("https://acmeclubbing.com/static/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("https://acmeclubbing.com/static/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("https://acmeclubbing.com/static/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.btn-sub {
    display: flex;
    justify-content: center;
}
.btn1 {
    height: 53px;
}
.text-email::placeholder {
     text-align: center;
}
