.register-container {
    margin-top: 3%;
    margin-left: 29%;
    align-items: center;
    height: 1120px;
    width: 45%;
    border: 1px solid #000;
    margin-bottom: 3%;
}

.text-register {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid #000;
    font-size: 24px;
    text-align: center;
    background-color: #9a0097;
    color: whitesmoke;
}

.form-register {
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
}

.form-register p {
    font-size: 18px;
}
.btn-position {
    float: right;
    margin-top: -54px;
    border-color: #9a0097;
    background-color: #9a0097;
}
.btn-position:hover{
    background-color: #9a0097;
    border-color: black;
}
.submbtn {
    border-color: #9a0097;
    background-color: #9a0097;
}
.submbtn:hover{
    background-color: #9a0097;
    border-color: black;
}

