<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://informatics.msk.ru/theme/yui_combo.php?rollup/3.17.2/yui-moodlesimple-min.css"/>
    <link rel="shortcut icon" href="/static/img/main_logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="https://informatics.msk.ru/theme/styles.php/boost/1640770659_1/all">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Введите пароль для доступа к курсу</title>
</head>
<body>
<div id="page" class="container-fluid mt-0">
    <div id="page-content" class="row">
        <div id="region-main-box" class="col-12">
            <section id="region-main" class="col-12" aria-label="Содержимое">
                <span class="notifications" id="user-notifications"></span>
                <div role="main"><span id="maincontent"></span>
                    <div class="my-1 my-sm-5"></div>
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-sm-8 ">
                            <div class="card">
                                <div class="card-block">
                                    <h2 class="card-header text-center"
                                        style="color: whitesmoke; background-color: #9a0097">{{ title_course }}</h2>
                                    <div class="card-body">
                                        <div class="row justify-content-md-center">
                                            <div class="col-md-5">
                                                <form class="mt-3" action="" method="post" id="login">
                                                    {{ form.hidden_tag() }}
                                                    <div class="form-group">
                                                        {{ form.password(class="form-control", type="password",
                                                            id="password", placeholder="Пароль") }}<br>
                                                        {% for error in form.password.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                {{ error }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <p>{{ form.submit(type="submit", class="btn btn-primary btn-block mt-3 btn-log") }}</p>
                                                    <div>{{ message }}</div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-xl-6 col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <div style="text-align: center">
                                        <a href="/" class="btn btn-secondary btn-log-reg">Вернуться на главную страницу</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>