<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://informatics.msk.ru/theme/yui_combo.php?rollup/3.17.2/yui-moodlesimple-min.css"/>
    <link rel="shortcut icon" href="/static/img/main_logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="https://informatics.msk.ru/theme/styles.php/boost/1640770659_1/all"/>
    <link rel="shortcut icon" href="/static/img/main_logo.png" type="image/png">
    <title>Тест</title>
</head>
<body>
<div id="page-content" class="row pb-3 d-print-block">
    <div id="region-main-box" class="col-12">
        <section id="region-main" class="has-blocks mb-3" aria-label="Содержимое">
            <span class="notifications" id="user-notifications"></span>
            <div role="main"><span id="maincontent"></span>
                <br/><a class="skip-block skip aabtn" href="#skipcourses">Пропустить курсы</a>
                <div id="frontpage-category-combo"><h2>Содержание теста</h2>
                    <div class="course_category_tree clearfix ">
                        <div class="content">
                            <div class="category loaded with_children" data-categoryid="354"
                                 data-depth="1" data-showcourses="10" data-type="0">
                                <div class="info"><h3 class="categoryname aabtn">Тест №{{ title }}</h3>
                                </div>
                                <div class="content">
                                    {% for i in zadachi %}
                                        <div class="coursebox clearfix odd first collapsed"
                                             data-courseid="666" data-type="1">
                                            <div class="info" style="text-align: center">
                                                <div class="coursename"><a class='href_tasks11' style="color: #c72929"
                                                                           href="{{ url_for('task_page', id_task=i) }}">Задача
                                                    №{{ i }}</a>
                                                </div>
                                            </div>
                                            <div class="content"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="skip-block-to" id="skipcourses"></span><br/>
        </section>
        <section data-region="blocks-column" class="d-print-none" aria-label="Блоки">
            <aside id="block-region-side-pre" class="block-region" data-blockregion="side-pre"
                   data-droptarget="1"><a href="#sb-1" class="sr-only sr-only-focusable">Пропустить Что
                происходит</a>

                <span id="sb-1"></span><a href="#sb-2" class="sr-only sr-only-focusable">Пропустить К задаче
                    №</a>

                <section id="inst931"
                         class=" block_problembynumber block  card mb-3"
                         role="complementary"
                         data-block="problembynumber"
                         aria-labelledby="instance-931-header"
                >
                    <div class="card-body p-3">

                        <h5 id="instance-931-header" class="card-title d-inline">Завершить тест</h5>
                        <div class="card-text content mt-3">
                            <a class="btn" href="/"
                               style="color: whitesmoke; background-color: #9a0097">Завершить</a>
                        </div>
                    </div>
                </section>
            </aside>
        </section>
    </div>
</div>
<div class="created-test">
    <div class="h2Div2"><h2></h2></div>

</div>
</body>
</html>