{% extends "base.html" %}

{% block content %}
    <div class="toast-wrapper mx-auto py-0 fixed-top" role="status" aria-live="polite"></div>
    <div id="page-wrapper" class="d-print-block">
        <div>
            <a class="sr-only sr-only-focusable" href="#maincontent">Перейти к основному содержанию</a>
        </div>
        <nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex"
             aria-label="Навигация по сайту">

            <div data-region="drawer-toggle" class="d-inline-block mr-3">
                <a href="/" class="logo">
                    <img class="imglogo" style="margin-top: -10px" src="/static/img/main_logo.png" alt="Иконка">
                </a>
            </div>
            <ul class="navbar-nav d-none d-md-flex">
                <!-- custom_menu -->
                <li class="nav-item">
                    <a class="nav-item nav-link" href="">Ваша реклама на нашем сайте</a>
                </li>
                <!-- page_heading_menu -->

            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="d-none d-lg-block">

                </li>
                <!-- navbar_plugin_output -->
                <li class="nav-item">

                </li>
                <!-- user_menu -->
                <li class="nav-item d-flex align-items-center">
                    {% if current_user.is_authenticated %}
                        <div class="nav-item d-flex align-items-center" id="yui_3_17_2_1_1650453415800_42">
                            <div class="usermenu" id="yui_3_17_2_1_1650453415800_41">
                                <div class="action-menu moodle-actionmenu nowrap-items d-inline" id="action-menu-1"
                                     data-enhance="moodle-core-actionmenu">
                                    <div class="menubar d-flex " id="action-menu-1-menubar" role="menubar">
                                        <div class="action-menu-trigger" id="yui_3_17_2_1_1650453415800_40">
                                            <div class="dropdown show" id="yui_3_17_2_1_1650453415800_39">
                                                <div onmouseover="show()" onmouseleave="hide()">
                                                    <div>
                                                        <button>
                                                            <a href="#" tabindex="0"
                                                               class="d-inline-block  dropdown-toggle icon-no-margin"
                                                               id="action-menu-toggle-1" aria-label="Меню пользователя"
                                                               data-toggle="dropdown" role="button" aria-haspopup="true"
                                                               aria-expanded="true" aria-controls="action-menu-1-menu">
                                                                <span class="userbutton"
                                                                      id="yui_3_17_2_1_1650453415800_38"><span
                                                                        class="usertext mr-1"
                                                                        id="yui_3_17_2_1_1650453415800_37">{{ current_user.name }} {{ current_user.surname }}</span><span
                                                                        class="avatars"><span
                                                                        class="avatar current">
                                                                      {% if key in files_lst %}
                                                                          <img src="{{ path }}" class="userpicture"
                                                                               width="35"
                                                                               height="35"
                                                                               aria-hidden="true">
                                                                      {% else %}
                                                                          <img src="/static/img/default_photo.jpg"
                                                                               class="userpicture" width="35"
                                                                               height="35"
                                                                               aria-hidden="true">
                                                                      {% endif %}
                                                                            </span></span></span>
                                                                <b class="caret"></b>
                                                            </a>
                                                        </button>
                                                    </div>
                                                    <div id="hidden-div" style="display: none">
                                                        <div class="dropdown-menu dropdown-menu-right menu align-tr-br show"
                                                             id="action-menu-1-menu" data-rel="menu-content"
                                                             aria-labelledby="action-menu-toggle-1" role="menu"
                                                             data-align="tr-br">
                                                            <a href="{{ url_for('login') }}"
                                                               class="dropdown-item menu-action" role="menuitem"
                                                               data-title="mymoodle,admin"
                                                               aria-labelledby="actionmenuaction-1">
                                                                <i class="icon fa fa-user fa-fw "
                                                                   aria-hidden="true"></i>
                                                                <span class="menu-action-text" id="actionmenuaction-1">
                                                            Личный кабинет
                                                        </span>
                                                            </a>
                                                            <div class="dropdown-divider" role="presentation"><span
                                                                    class="filler">&nbsp</span></div>
                                                            <a href="#"
                                                               class="dropdown-item menu-action" role="menuitem"
                                                               data-title="profile,moodle"
                                                               aria-labelledby="actionmenuaction-2">
                                                                <i class="icon fa fa-bar-chart fa-fw"
                                                                   aria-hidden="true"></i>
                                                                <span class="menu-action-text" id="actionmenuaction-2">
                                                            Статистика
                                                        </span>
                                                            </a>
                                                            <div class="dropdown-divider" role="presentation"><span
                                                                    class="filler">&nbsp;</span></div>
                                                            <a href="/logout"
                                                               class="dropdown-item menu-action" role="menuitem"
                                                               data-title="logout,moodle"
                                                               aria-labelledby="actionmenuaction-6">
                                                                <i class="icon fa fa-sign-out fa-fw "
                                                                   aria-hidden="true"></i>
                                                                <span class="menu-action-text" id="actionmenuaction-3">
                                                            Выход
                                                        </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>
                            <a class=" btn btn-success login_button_style" href="/login"
                               style="margin-top: 13px; background-color: #9a0097; color: whitesmoke">Войти</a>
                            <a class=" btn btn-primary register_button_style" href="{{ url_for('register_obr') }}"
                               style="margin-top: 13px; background-color: #9a0097; color: whitesmoke">Зарегистрироваться</a>
                        </p>
                    {% endif %}
                </li>
            </ul>
            <!-- search_box -->
        </nav>

        <div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex closed" aria-hidden="true"
             tabindex="-1">
            <nav class="list-group" aria-label="Сайт">
                <ul>
                    <li>
                        <a class="list-group-item list-group-item-action active active_tree_node "
                           href="" data-key="home" data-isexpandable="0" data-indent="0"
                           data-showdivider="0" data-type="1" data-nodetype="1" data-collapse="0" data-forceopen="1"
                           data-isactive="1" data-hidden="0" data-preceedwithhr="0">
                            <div class="ml-0">
                                <div class="media">
                                        <span class="media-left">
                                            <i class="icon fa fa-home fa-fw " aria-hidden="true"></i>
                                        </span>
                                    <span class="media-body font-weight-bold">В начало</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="page" class="container-fluid d-print-block">
            <header id="page-header" class="row">
                <div class="col-12 pt-3 pb-3">
                    <div class="card ">
                        <div class="card-body ">
                            <div class="d-sm-flex align-items-center">
                                <div class="mr-auto" style="padding-left: 40%">
                                    <div class="page-context-header">
                                        <div class="page-header-headings">
                                            <figure class="sign" style="text-align: center">
                                                <h1 class="h1" style="color: #9a0097;">AOP</h1>
                                                <figcaption style="color: black; font-size: 23px">Association of
                                                    Olympiad
                                                    Programmers
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>

                                <div class="header-actions-container flex-shrink-0"
                                     data-region="header-actions-container">
                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="ml-auto d-flex">

                                </div>
                                <div id="course-header">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div id="page-content" class="row pb-3 d-print-block">
                <div id="region-main-box" class="col-12">
                    <section id="region-main" class="has-blocks mb-3" aria-label="Содержимое">

                        <span class="notifications" id="user-notifications"></span>
                        <div role="main"><span id="maincontent"></span>
                            <br/><a class="skip-block skip aabtn" href="#skipcourses">Пропустить курсы</a>
                            <div id="frontpage-category-combo"><h2>Библиотека задач</h2>
                                <div class="course_category_tree clearfix ">
                                    <div class="content">
                                        <div class="subcategories">
                                            <div class="category loaded with_children" data-categoryid="355"
                                                 data-depth="1" data-showcourses="10" data-type="0">
                                                <div class="info"><h3 class="categoryname aabtn">Сборники задач от
                                                    авторов сайта</h3></div>
                                                <div class="content">
                                                    <div class="courses frontpage-category-combo">
                                                        <div class="coursebox clearfix odd first collapsed"
                                                             data-courseid="34" data-type="1">
                                                            <div class="info">
                                                                <div class="coursename"><a class="aalink"
                                                                                           href="/tasks">Задачи из
                                                                    Московской олимпиады школьников</a>
                                                                </div>
                                                                <div class="moreinfo"><a title="Описание"
                                                                                         href=""><i
                                                                        class="icon fa fa-info fa-fw " title="Описание"
                                                                        aria-label="Описание"></i></a></div>
                                                                <div class="enrolmenticons"><i
                                                                        class="icon fa fa-unlock-alt fa-fw "
                                                                        title="Гостевой доступ"
                                                                        aria-label="Гостевой доступ"></i></div>
                                                            </div>
                                                            <div class="content"></div>
                                                        </div>
                                                        <div class="content"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="category loaded with_children" data-categoryid="354"
                                             data-depth="1" data-showcourses="10" data-type="0">
                                            <div class="info"><h3 class="categoryname aabtn">Пользовательские
                                                сборники задач</h3></div>
                                            <div class="content">
                                                {% for item in collection %}
                                                    <div class="coursebox clearfix odd first collapsed"
                                                         data-courseid="666" data-type="1">
                                                        <div class="info">
                                                            <div class="coursename"><a class="aalink"
                                                                                       href="{{ item.href_link }}">{{ item.title }}</a>
                                                            </div>
                                                            <div class="moreinfo"><a title="Описание"
                                                                                     href=""><i
                                                                    class="icon fa fa-info fa-fw " title="Описание"
                                                                    aria-label="Описание"></i></a></div>
                                                            <div class="enrolmenticons"><i
                                                                    class="icon fa fa-unlock-alt fa-fw "
                                                                    title="Гостевой доступ"
                                                                    aria-label="Гостевой доступ"></i></div>
                                                        </div>
                                                        <div class="content"></div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="skip-block-to" id="skipcourses"></span><br/>
                    </section>
                    <section data-region="blocks-column" class="d-print-none" aria-label="Блоки">
                        <aside id="block-region-side-pre" class="block-region" data-blockregion="side-pre"
                               data-droptarget="1"><a href="#sb-1" class="sr-only sr-only-focusable">Пропустить Что
                            происходит</a>

                            <span id="sb-1"></span><a href="#sb-2" class="sr-only sr-only-focusable">Пропустить К задаче
                                №</a>

                            <section id="inst931"
                                     class=" block_problembynumber block  card mb-3"
                                     role="complementary"
                                     data-block="problembynumber"
                                     aria-labelledby="instance-931-header"
                            >

                                <div class="card-body p-3">

                                    <h5 id="instance-931-header" class="card-title d-inline">К задаче №</h5>

                                    <div class="card-text content mt-3">
                                        <form class="loginform" id="login" method="POST">
                                            <div>
                                                {{ form.csrf_token }}
                                            </div>
                                            {{ form.number(class="form-control", placeholder="Введите № задачи", id="chapterid", size=10) }}<br>
                                            {% for error in form.number.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                            {{ form.submit(type="submit", class="btn btn-primary", value="Перейти", style="background-color: #9a0097; color: whitesmoke; border: black" ) }}
                                            <div class="message" style="margin-top: 10px">
                                                {{ message }}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>

                            <span id="sb-1"></span><a href="#sb-2" class="sr-only sr-only-focusable">Пропустить К задаче
                                №</a>

                            <section id="inst931"
                                     class=" block_problembynumber block  card mb-3"
                                     role="complementary"
                                     data-block="problembynumber"
                                     aria-labelledby="instance-931-header"
                            >
                                {% if current_user.is_authenticated and current_user.type_user == 'teacher' %}
                                    <div class="card-body p-3">

                                        <h5 id="instance-931-header" class="card-title d-inline">Создать сборник
                                            задач</h5>
                                        <div class="card-text content mt-3">
                                            <a href="/create_collection">Создать сборник</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </section>

                            <span id="sb-3"></span><a href="#sb-4" class="sr-only sr-only-focusable">Пропустить Основное
                                меню</a>

                            <section id="inst4931"
                                     class=" block_site_main_menu block list_block  card mb-3"
                                     role="complementary"
                                     data-block="site_main_menu"
                                     aria-labelledby="instance-4931-header"
                            >

                                <div class="card-body p-3">

                                    <h5 id="instance-4931-header" class="card-title d-inline">О сайте</h5>


                                    <div class="card-text content mt-3">
                                        <ul class="unlist">
                                            <li class="r1">
                                                <div class="column c1">
                                                    <div class="main-menu-content">
                                                        <div class="activity"><a class="aalink" onclick=""
                                                                                 href="/about_team"><img
                                                                src="https://informatics.msk.ru/theme/image.php/boost/page/1640770659/icon"
                                                                class="iconlarge activityicon" alt=""
                                                                role="presentation" aria-hidden="true"/><span
                                                                class="instancename" style="color: #c72929">Команда проекта<span
                                                                class="accesshide "> Страница</span></span></a></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </section>
                        </aside>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}