<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/profile.css">
    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    <div id="main">
        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="panel-title">
                            <div class="text-center">
                                <strong>Пользователь сайта</strong>
                            </div>
                        </header>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            {% if id_user in files_lst %}
                                <img class='photo' src="{{ path }}">
                            {% else %}
                                <img class='photo' src="/static/img/default_photo.jpg">


                            {% endif %}
                            <h3>
                                <tr>
                                    <td class="active"></td>
                                    <td><input class="form-control" type="text" name="nickname"
                                               value="{{ u.name }} {{ u.surname }}"></td>
                                </tr>
                            </h3>
                            <medium class="label">
                                <tr>
                                    <td><input class="form-control" type="text" name="nickname"
                                               value="{{ u.country }} {{ u.city }}"></td>
                                </tr>
                            </medium>
                            <p></p>
                            <form class="formochka" action="/path" method="post" enctype="multipart/form-data">
                                <p><input type="file" name="file"></p>
                                <p><input type="submit" value="Загрузить"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class=""><a href="{{ url_for('profile', id_user=u.id) }}" style="color: #c72929">О
                                пользователе</a></li>
                            <li class="active"><a href="#detail" data-toggle="tab" style="background-color: #9a0097;">Редактирование</a>
                            </li>
                            <li class="edit-profile"><a href="{{ url_for('profile_edit', id_user=u.id) }}"
                                                        style="color: #c72929">Изменить пароль</a>
                            </li>
                            <li class=""><a href="/" style="color: #c72929">Вернуться на главую страницу</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Данные пользователя</h4>
                                <table class="table table-th-block">
                                    <tbody>
                                    <form action="/edit-profile" method="POST"></form>
                                    <tr>
                                        <td class="active">Nickname:</td>
                                        <td><input class="form-control" type="text" name="nickname"
                                                   value="{{ u.nickname }}"></td>
                                    </tr>
                                    <tr>
                                        <td class="active">Email адрес:</td>
                                        <td>{{ u.email }}</td>
                                    </tr>
                                    {% if u.gender == "man" %}
                                        <tr>
                                            <td class="active">Пол:
                                            <td><input class="form-control" type="text" name="nickname"
                                                       value="Мужской"></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="active">Пол:
                                            <td><input class="form-control" type="text" name="nickname"
                                                       value="Женский"></td>
                                        </tr>
                                    {% endif %}
                                    {% if u.type_user == 'student' %}
                                        <tr>
                                            <td class="active">Тип записи:
                                            <td>Ученик</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="active">Тип записи:
                                            <td>Преподаватель</td>
                                        </tr>
                                    {% endif %}
                                    {% if u.type_user == 'student' %}
                                        <tr>
                                            <td class="active">Школа:
                                            <td><input class="form-control" type="text" name="nickname"
                                                       value="{{ u.school }}"></td>
                                        </tr>
                                        <tr>
                                            <td class="active">Класс обучения:
                                            <td><input class="form-control" type="text" name="nickname"
                                                       value="{{ u.school_class }}"></td>
                                        </tr>
                                        <tr>
                                            <td class="active">Год окончания школы:
                                            <td><input class="form-control" type="text" name="nickname"
                                                       value="{{ u.year_finish_school }}"></td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td></td>
                                        <td><input type="submit" class='btn btn-primary'
                                                   style="background-color: #9a0097; color: whitesmoke; border: black"
                                                   value="Подтверждение изменений"></td>
                                    </tr>
                                    </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div><!-- /.main -->
</div><!-- /.container -->
</body>
</html>