<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="shortcut icon" href="/static/img/main_logo.png" type="image/png">
    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    <div id="main">
        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="panel-title">
                            <div class="text-center">
                                <strong>Пользователь сайта</strong>
                            </div>
                        </header>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            {% if key in files_lst %}
                                <img class='photo' src="{{ path }}">
                            {% else %}
                                <img class='photo' src="/static/img/default_photo.jpg">
                            {% endif %}

                            <h3>{{ u.name }} {{ u.surname }}</h3>
                            <medium class="label label-warning">{{ u.country }} {{ u.city }}</medium>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class=""><a href="{{ url_for('profile', id_user=u.id) }}" style="color: #c72929">О
                                пользователе</a></li>
                            <li class=""><a href="{{ url_for('profile_edit', id_user=u.id) }}"
                                            style="color: #c72929">Редактирование</a>
                            <li class="active"><a href="#detail" data-toggle="tab" style="background-color: #9a0097;">Изменить
                                пароль</a>
                            </li>
                            <li class=""><a href="/" style="color: #c72929">Вернуться на главую страницу</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Данные пользователя</h4>
                                <table class="table table-th-block">
                                    <tbody>
                                    <form action="/recovery-password" method="POST"></form>
                                    <div>
                                        {{ form.csrf_token }}
                                    </div>
                                    <tr>
                                        <td> {{ form.old_password.label }} </td>
                                        <td>{{ form.old_password(class="form-control") }}<br>
                                            {% for error in form.old_password.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}</td>
                                    </tr>
                                    <tr>
                                        <td> {{ form.password.label }} </td>
                                        <td>{{ form.password(class="form-control") }}<br>
                                            {% for error in form.password.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}</td>
                                    </tr>
                                    <tr>
                                        <td> {{ form.password_again.label }} </td>
                                        <td>{{ form.password_again(class="form-control") }}<br>
                                            {% for error in form.password_again.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="btn-sub">{{ form.submit(type="submit", class="btn btn-primary", style="background-color: #9a0097; color: whitesmoke; border: black" ) }}</td>
                                        <div>{{ message }}</div>
                                    </tr>

                                    </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div><!-- /.main -->
</div><!-- /.container -->
</body>
</html>