<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form autocomplete="off" action="" method="post" accept-charset="utf-8" id="mform1_kPgoDm1klL5bJuY"
      class="mform" data-boost-form-errors-enhanced="1">
    <div style="display: none;"><input name="id" type="hidden" value="1">
        <input name="sesskey" type="hidden" value="g0glX8egOK">
        <input name="_qf__login_change_password_form" type="hidden" value="1">
    </div>
    <fieldset class="clearfix" id="id_changepassword">
        <legend class="ftoggler">Изменить пароль</legend>
        <div class="fcontainer clearfix" id="yui_3_17_2_1_1651517270397_43">
            <div id="fitem_id_username" class="form-group row  fitem   ">
                <div class="col-md-3">
        <span class="float-sm-right text-nowrap">



        </span>
                    <span class="col-form-label d-inline-block ">
                    Логин
                </span>

                </div>
                <div class="col-md-9 form-inline felement" data-fieldtype="static">
                    <div class="form-control-static">
                        kksashsash@gmail.com
                    </div>
                    <div class="form-control-feedback invalid-feedback" id="id_error_username">

                    </div>
                </div>
            </div>
            <div id="fitem_id_passwordpolicyinfo" class="form-group row  fitem femptylabel  ">
                <div class="col-md-3">
        <span class="float-sm-right text-nowrap">



        </span>

                </div>
                <div class="col-md-9 form-inline felement" data-fieldtype="static">
                    <div class="form-control-static">
                        Пароль должен содержать символов - не менее 8, цифр - не менее 1, строчных букв - не менее 1,
                        прописных букв - не менее 1, не менее 1 символов, не являющихся буквами и цифрами, например
                        таких как *, - или #.
                    </div>
                    <div class="form-control-feedback invalid-feedback" id="id_error_passwordpolicyinfo">

                    </div>
                </div>
            </div>
            <div id="fitem_id_password" class="form-group row  fitem   ">
                <div class="col-md-3">
        <span class="float-sm-right text-nowrap">
            <abbr class="initialism text-danger" title="Необходимо заполнить"><i
                    class="icon fa fa-exclamation-circle text-danger fa-fw " title="Необходимо заполнить"
                    aria-label="Необходимо заполнить"></i></abbr>


        </span>

                    <label class="col-form-label d-inline " for="id_password">
                        Текущий пароль
                    </label>

                </div>
                <div class="col-md-9 form-inline felement" data-fieldtype="password">
                    <input type="password" class="form-control " name="password" id="id_password" value=""
                           autocomplete="current-password">
                    <div class="form-control-feedback invalid-feedback" id="id_error_password">

                    </div>
                </div>
            </div>
            <div id="fitem_id_newpassword1" class="form-group row  fitem   ">
                <div class="col-md-3">
        <span class="float-sm-right text-nowrap">
            <abbr class="initialism text-danger" title="Необходимо заполнить"><i
                    class="icon fa fa-exclamation-circle text-danger fa-fw " title="Необходимо заполнить"
                    aria-label="Необходимо заполнить"></i></abbr>


        </span>

                    <label class="col-form-label d-inline " for="id_newpassword1">
                        Новый пароль
                    </label>

                </div>
                <div class="col-md-9 form-inline felement" data-fieldtype="password">
                    <input type="password" class="form-control " name="newpassword1" id="id_newpassword1" value=""
                           autocomplete="off">
                    <div class="form-control-feedback invalid-feedback" id="id_error_newpassword1">

                    </div>
                </div>
            </div>
            <div id="fitem_id_newpassword2" class="form-group row  fitem   ">
                <div class="col-md-3">
        <span class="float-sm-right text-nowrap">
            <abbr class="initialism text-danger" title="Необходимо заполнить"><i
                    class="icon fa fa-exclamation-circle text-danger fa-fw " title="Необходимо заполнить"
                    aria-label="Необходимо заполнить"></i></abbr>


        </span>

                    <label class="col-form-label d-inline " for="id_newpassword2">
                        Новый пароль (еще раз)
                    </label>

                </div>
                <div class="col-md-9 form-inline felement" data-fieldtype="password">
                    <input type="password" class="form-control " name="newpassword2" id="id_newpassword2" value=""
                           autocomplete="off">
                    <div class="form-control-feedback invalid-feedback" id="id_error_newpassword2">

                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div id="fgroup_id_buttonar" class="form-group row  fitem femptylabel  " data-groupname="buttonar">
        <div class="col-md-3">
        <span class="float-sm-right text-nowrap">



        </span>

        </div>
        <div class="col-md-9 form-inline felement" data-fieldtype="group">
            <fieldset class="w-100 m-0 p-0 border-0">
                <legend class="sr-only"></legend>
                <div class="d-flex flex-wrap align-items-center">

                    <div class="form-group  fitem  ">
    <span>



    </span>
                        <span data-fieldtype="submit">
        <input type="submit" class="btn
                        btn-primary


                    " name="submitbutton" id="id_submitbutton" value="Сохранить">
    </span>
                        <div class="form-control-feedback invalid-feedback" id="id_error_submitbutton">

                        </div>
                    </div>

                    <div class="form-group  fitem   btn-cancel">
    <span>



    </span>
                        <span data-fieldtype="submit">
        <input type="submit" class="btn

                        btn-secondary

                    " name="cancel" id="id_cancel" value="Отмена" data-skip-validation="1" data-cancel="1"
               onclick="skipClientValidation = true; return true;">
    </span>
                        <div class="form-control-feedback invalid-feedback" id="id_error_cancel">

                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-control-feedback invalid-feedback" id="fgroup_id_error_buttonar">

            </div>
        </div>
    </div>
    <div class="fdescription required">Обязательные для заполнения поля в этой форме помечены <i
            class="icon fa fa-exclamation-circle text-danger fa-fw " title="Обязательное поле"
            aria-label="Обязательное поле"></i>.
    </div>
</form>

</body>
</html>