<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="shortcut icon" href="/static/img/main_logo.png" type="image/png">
    <title>Восстановление пароля</title>
</head>
<body>
<div class="container">
    <div id="main">
        <div class="row" id="real-estates-detail">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail" >
                                <table class="table table-th-block">
                                    <tbody>
                                    <form action="" method="POST">
                                        <div>
                                            {{ form.csrf_token }}
                                        </div>
                                        <tr>
                                            <td> {{ form.password.label }} </td>
                                            <td>{{ form.password(class="form-control") }}<br>
                                                {% for error in form.password.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <td> {{ form.password_again.label }} </td>
                                            <td>{{ form.password_again(class="form-control") }}<br>
                                                {% for error in form.password_again.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <div class="" style="display: flex; justify-content: center">
                                                <td colspan="2"
                                                    class="btn-sub" style="text-align: center">{{ form.submit(type="submit", class="btn btn-primary", style="background-color: #9a0097; color: whitesmoke; border: black" ) }}</td>
                                            </div>
                                        </tr>
                                        <tr style="text-align: center">
                                            <td colspan="2"><div>{{ message }}</div></td>
                                        </tr>
                                    </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

{#<div class="tab-pane fade active in" id="detail">#}
{#    <h4>Восстановление пароля</h4>#}
{#    <table class="table table-th-block">#}
{#        <tbody>#}
{#        <form action="" method="POST">#}
{#            <div>#}
{#                {{ form.csrf_token }}#}
{#            </div>#}
{#            <tr>#}
{#                <td> {{ form.password.label }} </td>#}
{#                <td>{{ form.password(class="form-control") }}<br>#}
{#                    {% for error in form.password.errors %}#}
{#                        <div class="alert alert-danger" role="alert">#}
{#                            {{ error }}#}
{#                        </div>#}
{#                    {% endfor %}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td> {{ form.password_again.label }} </td>#}
{#                <td>{{ form.password_again(class="form-control") }}<br>#}
{#                    {% for error in form.password_again.errors %}#}
{#                        <div class="alert alert-danger" role="alert">#}
{#                            {{ error }}#}
{#                        </div>#}
{#                    {% endfor %}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td></td>#}
{#                <div class="">{{ message }}</div>#}
{#                <td>{{ form.submit(type="submit", class="btn btn-primary", style="background-color: #9a0097; color: whitesmoke; border: black" ) }}</td>#}
{##}
{#            </tr>#}
{#        </form>#}
{#        </tbody>#}
{#    </table>#}
{#</div>#}

</body>
</html>