<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
<div class="tab-pane fade active in" id="detail">
    <h4>Восстановление пароля</h4>
    <table class="table table-th-block">
        <tbody>
        <form action="" method="POST">
            <div>
                {{ form.csrf_token }}
            </div>
            <tr>
                <td> {{ form.password.label }} </td>
                <td>{{ form.password(class="form-control") }}<br>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}</td>
            </tr>
            <tr>
                <td> {{ form.password_again.label }} </td>
                <td>{{ form.password_again(class="form-control") }}<br>
                    {% for error in form.password_again.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}</td>
            </tr>
            <tr>
                <td></td>
                <div class="">{{ message }}</div>
                <td>{{ form.submit(type="submit", class="btn btn-primary", style="background-color: #9a0097; color: whitesmoke; border: black" ) }}</td>

            </tr>
        </form>
        </tbody>
    </table>
</div>

</body>
</html>